@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 248px -395.6666666667px hsl(65, 100%, 50%), 77px -289.6666666667px hsl(126, 100%, 50%), -30px 40.3333333333px hsl(232, 100%, 50%), 21px -149.6666666667px hsl(293, 100%, 50%), -249px -327.6666666667px hsl(282, 100%, 50%), -59px -271.6666666667px hsl(272, 100%, 50%), 134px -308.6666666667px hsl(184, 100%, 50%), -12px 38.3333333333px hsl(228, 100%, 50%), 40px -390.6666666667px hsl(108, 100%, 50%), -13px -46.6666666667px hsl(38, 100%, 50%), 159px 39.3333333333px hsl(190, 100%, 50%), -182px -192.6666666667px hsl(320, 100%, 50%), 70px -268.6666666667px hsl(130, 100%, 50%), 206px -58.6666666667px hsl(191, 100%, 50%), 66px -274.6666666667px hsl(132, 100%, 50%), 198px -192.6666666667px hsl(164, 100%, 50%), -137px -148.6666666667px hsl(16, 100%, 50%), -64px 17.3333333333px hsl(358, 100%, 50%), 227px -15.6666666667px hsl(179, 100%, 50%), 101px -77.6666666667px hsl(313, 100%, 50%), -129px 76.3333333333px hsl(129, 100%, 50%), 129px -93.6666666667px hsl(346, 100%, 50%), 170px -47.6666666667px hsl(252, 100%, 50%), -2px 81.3333333333px hsl(250, 100%, 50%), -206px 41.3333333333px hsl(31, 100%, 50%), -58px -99.6666666667px hsl(56, 100%, 50%), 165px -76.6666666667px hsl(162, 100%, 50%), 101px -22.6666666667px hsl(31, 100%, 50%), -144px -334.6666666667px hsl(43, 100%, 50%), -194px -249.6666666667px hsl(180, 100%, 50%), 121px -121.6666666667px hsl(297, 100%, 50%), 193px -321.6666666667px hsl(86, 100%, 50%), -184px -208.6666666667px hsl(51, 100%, 50%), 30px -267.6666666667px hsl(245, 100%, 50%), -212px -59.6666666667px hsl(218, 100%, 50%), -95px -162.6666666667px hsl(180, 100%, 50%), 64px -310.6666666667px hsl(154, 100%, 50%), 87px 59.3333333333px hsl(61, 100%, 50%), -194px -330.6666666667px hsl(138, 100%, 50%), -179px -102.6666666667px hsl(280, 100%, 50%), -147px -178.6666666667px hsl(215, 100%, 50%), 99px -165.6666666667px hsl(309, 100%, 50%), 238px 68.3333333333px hsl(182, 100%, 50%), 79px -157.6666666667px hsl(220, 100%, 50%), -177px -105.6666666667px hsl(162, 100%, 50%), -68px -249.6666666667px hsl(3, 100%, 50%), 56px -391.6666666667px hsl(174, 100%, 50%), 28px -156.6666666667px hsl(125, 100%, 50%), -149px -136.6666666667px hsl(188, 100%, 50%), 226px -220.6666666667px hsl(276, 100%, 50%), -38px 50.3333333333px hsl(236, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  color: #F5F5F5;
  animation: flyAndGrow 10s ease-in; /* Animation for flying and growing */
  opacity: 0;
  transform: translate(-100em, 0);
}

@keyframes flyAndGrow {
  0% {
    transform: translate(0, 0) scale(0.5);
  }
  25% {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) scale(1);
  }
}
.card-container-wrapper {
  height: 100%; /* Set the height of the card container */
  overflow-y: auto; /* Enable vertical scrolling when cards exceed container height */
  margin: 20px; /* Optional: Add margin for spacing */
  margin-top: 50px;
  position: relative;
}

.card-container-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Chrome, Safari, and newer versions of Edge */
}

.card-group {
  animation: cssAnimation 0s 12s forwards;
  visibility: hidden;
  position: absolute;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
    position: static;
  }
}
.card {
  width: 50rem;
  height: 72rem;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin-top: 260px;
}

.card.animated {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card.animated .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card.animated .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.front-text {
  font-size: 24rem;
}

.last-card {
  margin-bottom: 260px;
}

.card-content {
  display: flex;
  padding: 50px;
  color: white;
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1em;
  font-weight: 400;
}

.card-credit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2em;
  color: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.card-content-special {
  display: flex;
  padding-top: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1.7em;
  font-weight: bold;
}

.image {
  width: 35rem;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 30px;
}/*# sourceMappingURL=index.css.map */