@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 43px -8.6666666667px hsl(115, 100%, 50%), -53px -241.6666666667px hsl(39, 100%, 50%), -208px -85.6666666667px hsl(61, 100%, 50%), -130px -204.6666666667px hsl(193, 100%, 50%), -82px -87.6666666667px hsl(164, 100%, 50%), 148px -170.6666666667px hsl(145, 100%, 50%), -143px -313.6666666667px hsl(192, 100%, 50%), 210px -200.6666666667px hsl(252, 100%, 50%), 19px -258.6666666667px hsl(21, 100%, 50%), 26px -73.6666666667px hsl(98, 100%, 50%), 236px 29.3333333333px hsl(230, 100%, 50%), 180px -342.6666666667px hsl(84, 100%, 50%), 196px -196.6666666667px hsl(189, 100%, 50%), -132px -181.6666666667px hsl(71, 100%, 50%), -210px -143.6666666667px hsl(278, 100%, 50%), -117px -165.6666666667px hsl(285, 100%, 50%), -217px -182.6666666667px hsl(49, 100%, 50%), 177px -206.6666666667px hsl(242, 100%, 50%), 102px -345.6666666667px hsl(354, 100%, 50%), 48px -384.6666666667px hsl(289, 100%, 50%), -141px -335.6666666667px hsl(331, 100%, 50%), 136px -411.6666666667px hsl(86, 100%, 50%), -53px -313.6666666667px hsl(117, 100%, 50%), -238px -343.6666666667px hsl(345, 100%, 50%), -116px -55.6666666667px hsl(67, 100%, 50%), 129px -282.6666666667px hsl(76, 100%, 50%), 144px -21.6666666667px hsl(334, 100%, 50%), -186px -179.6666666667px hsl(359, 100%, 50%), 234px -409.6666666667px hsl(58, 100%, 50%), -158px -83.6666666667px hsl(267, 100%, 50%), -106px -64.6666666667px hsl(211, 100%, 50%), -39px -140.6666666667px hsl(123, 100%, 50%), -21px -257.6666666667px hsl(240, 100%, 50%), 50px -308.6666666667px hsl(315, 100%, 50%), 49px -362.6666666667px hsl(350, 100%, 50%), -226px -331.6666666667px hsl(113, 100%, 50%), 56px -250.6666666667px hsl(272, 100%, 50%), -14px -122.6666666667px hsl(12, 100%, 50%), 127px -119.6666666667px hsl(252, 100%, 50%), -19px 43.3333333333px hsl(147, 100%, 50%), 211px -156.6666666667px hsl(327, 100%, 50%), 107px 36.3333333333px hsl(264, 100%, 50%), -229px 79.3333333333px hsl(97, 100%, 50%), -51px -303.6666666667px hsl(106, 100%, 50%), -66px 73.3333333333px hsl(41, 100%, 50%), 198px -359.6666666667px hsl(132, 100%, 50%), -2px -217.6666666667px hsl(357, 100%, 50%), -2px 14.3333333333px hsl(355, 100%, 50%), -21px -379.6666666667px hsl(292, 100%, 50%), -99px 65.3333333333px hsl(323, 100%, 50%), -133px -166.6666666667px hsl(322, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  color: #F5F5F5;
  animation: flyAndGrow 10s ease-in; /* Animation for flying and growing */
  opacity: 0;
  transform: translate(-100em, 0);
}

@keyframes flyAndGrow {
  0% {
    transform: translate(0, 0) scale(0.5);
  }
  25% {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) scale(1);
  }
}
.card-container-wrapper {
  height: 100%; /* Set the height of the card container */
  overflow-y: auto; /* Enable vertical scrolling when cards exceed container height */
  margin: 20px; /* Optional: Add margin for spacing */
  margin-top: 50px;
  position: relative;
}

.card-container-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Chrome, Safari, and newer versions of Edge */
}

.card-group {
  animation: cssAnimation 0s 12s forwards;
  visibility: hidden;
  position: absolute;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
    position: static;
  }
}
.card {
  width: 50rem;
  height: 72rem;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin-top: 260px;
}

.card.animated {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card.animated .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 25px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card.animated .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.front-text {
  font-size: 24rem;
}

.last-card {
  margin-bottom: 260px;
}

.card-content {
  display: flex;
  padding: 50px;
  color: white;
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1em;
  font-weight: 400;
}

.card-credit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2em;
  color: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.card-content-special {
  display: flex;
  padding-top: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1.7em;
  font-weight: bold;
}

.image {
  width: 35rem;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 30px;
  flex: 1;
}/*# sourceMappingURL=index.css.map */
