@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 146px -3.6666666667px hsl(94, 100%, 50%), -221px -293.6666666667px hsl(152, 100%, 50%), 205px 5.3333333333px hsl(78, 100%, 50%), -46px 81.3333333333px hsl(167, 100%, 50%), 118px 73.3333333333px hsl(194, 100%, 50%), 34px -97.6666666667px hsl(249, 100%, 50%), 240px -92.6666666667px hsl(328, 100%, 50%), 226px -267.6666666667px hsl(189, 100%, 50%), 13px -412.6666666667px hsl(214, 100%, 50%), 199px -347.6666666667px hsl(107, 100%, 50%), 113px -238.6666666667px hsl(293, 100%, 50%), -61px -351.6666666667px hsl(259, 100%, 50%), -83px -404.6666666667px hsl(176, 100%, 50%), -225px -235.6666666667px hsl(39, 100%, 50%), 108px -167.6666666667px hsl(284, 100%, 50%), -179px -252.6666666667px hsl(274, 100%, 50%), 6px -211.6666666667px hsl(35, 100%, 50%), -207px 67.3333333333px hsl(183, 100%, 50%), 15px -327.6666666667px hsl(203, 100%, 50%), 201px -111.6666666667px hsl(27, 100%, 50%), 103px -52.6666666667px hsl(356, 100%, 50%), 5px -98.6666666667px hsl(56, 100%, 50%), -230px -292.6666666667px hsl(151, 100%, 50%), 33px -296.6666666667px hsl(30, 100%, 50%), 219px -296.6666666667px hsl(269, 100%, 50%), -89px 14.3333333333px hsl(17, 100%, 50%), -94px 45.3333333333px hsl(93, 100%, 50%), 21px -150.6666666667px hsl(324, 100%, 50%), -142px -236.6666666667px hsl(337, 100%, 50%), 19px -134.6666666667px hsl(298, 100%, 50%), 142px -22.6666666667px hsl(2, 100%, 50%), 151px 22.3333333333px hsl(327, 100%, 50%), 198px 3.3333333333px hsl(309, 100%, 50%), -105px -174.6666666667px hsl(311, 100%, 50%), 100px -61.6666666667px hsl(234, 100%, 50%), -69px 58.3333333333px hsl(251, 100%, 50%), -86px -184.6666666667px hsl(4, 100%, 50%), -132px -283.6666666667px hsl(19, 100%, 50%), -126px -365.6666666667px hsl(339, 100%, 50%), -51px -358.6666666667px hsl(231, 100%, 50%), -217px -398.6666666667px hsl(112, 100%, 50%), -215px -297.6666666667px hsl(315, 100%, 50%), 142px -276.6666666667px hsl(152, 100%, 50%), -130px -355.6666666667px hsl(199, 100%, 50%), 190px -79.6666666667px hsl(185, 100%, 50%), 214px 59.3333333333px hsl(288, 100%, 50%), -183px -295.6666666667px hsl(105, 100%, 50%), 31px 76.3333333333px hsl(93, 100%, 50%), -223px -189.6666666667px hsl(138, 100%, 50%), -56px 3.3333333333px hsl(238, 100%, 50%), 206px 6.3333333333px hsl(92, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  color: #F5F5F5;
  animation: flyAndGrow 10s ease-in; /* Animation for flying and growing */
  opacity: 0;
  transform: translate(-100em, 0);
}

@keyframes flyAndGrow {
  0% {
    transform: translate(0, 0) scale(0.5);
  }
  25% {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0) scale(1);
  }
}
.card-container-wrapper {
  height: 100%; /* Set the height of the card container */
  overflow-y: auto; /* Enable vertical scrolling when cards exceed container height */
  margin: 20px; /* Optional: Add margin for spacing */
  margin-top: 50px;
  position: relative;
}

.card-container-wrapper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Chrome, Safari, and newer versions of Edge */
}

.card-group {
  animation: cssAnimation 0s 12s forwards;
  visibility: hidden;
  position: absolute;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
    position: static;
  }
}
.card {
  width: 50rem;
  height: 72rem;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
  margin-top: 260px;
}

.card.animated {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: rgb(103, 151, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card.animated .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
  overflow: scroll;
  border-radius: 25px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card.animated .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.front-text {
  font-size: 24rem;
}

.last-card {
  margin-bottom: 260px;
}

.card-content {
  display: flex;
  padding: 50px;
  color: white;
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1em;
  font-weight: 400;
}

.card-credit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2em;
  color: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(0, 0, 0, 0)), #123;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.card-content-special {
  display: flex;
  padding-top: 40px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  align-self: flex-start;
  flex: 1;
  font-size: 1.7em;
  font-weight: bold;
}

.image {
  width: 35rem;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 30px;
}/*# sourceMappingURL=index.css.map */